//Feuille de style du composant "Formulaire".

//Import des mixin qui gerent le responsive
@import "../../utils/mixins/responsive/responsive.scss";

//Import de la charte de couleur
@import "../../utils/colors-rule/colors-rule.scss";

//Animation
@keyframes landing {
    0%{
        transform:translateY(-5em);
        opacity: 0;
    }
    100%{
       transform:translateY(0em);
        opacity: 1;
    }
}


.form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 2em auto;
    padding: 1em;
    box-shadow: 0px 0px 20px  lighten(map-get($colors-rule, fourth-color ),0%);
    animation: landing 500ms linear 0s 1 normal forwards;

    @include upper-medium-screen{
        width: 80%;
        max-width: 800px;
    }
    

    &__text{
        font-size: 1.1em;
        text-align:left;
        margin: 2em 0em;
        color:map-get($colors-rule, fourth-color);
        word-spacing: 0.2em;
        line-height: 2em;
        

        & > span{
            font-size: 1.4em;
            font-style: italic;
            font-weight: 600; 
        }
    }

    .cont-label-input{
        display: flex;
        flex-flow:column;
        justify-content: flex-start;
        align-items: center;
        margin: 2em 0em;
        width:100%;
        animation: landing 500ms linear 0.1s 1 normal forwards;
    }

    .form-label{
        width: 50%;
        font-weight: 600;
        text-transform: capitalize;
        text-align: left;
        color:map-get($colors-rule, fourth-color);

        .requis{
            color: map-get($colors-rule, third-color);
        }
    }


    .form-input{
        width: 50%;
        height:2em;
        padding: 0.5em;
        border-bottom: 2px solid map-get($colors-rule, first-color);
        font-size: 1em;
        color:map-get($colors-rule, fourth-color);
        background:none;
        transition: border-bottom 250ms linear;

        
    }
    
    .form-input:focus{
        
        border-bottom: 2px solid lighten(map-get($colors-rule, first-color),50%);
    }

    
    &__flag{
        margin: 0.5em 0em;
        font-size: 1em;
        text-align: left;
        
    }

    .container-checkbox{

        display: flex;
        flex-flow:row-reverse wrap;
        justify-content: flex-start;
        align-items: center;
        margin: 2em 0em;

        & > input{
            
            all: revert;
            
        }
    }

    
    .textarea{
        resize: none;
        margin-top: 1em;
        width:50%;
        height: 200px;
        border: 2px solid map-get($colors-rule, first-color );
        padding: 0.5em;
        transition: border 250ms linear;
    }

    .textarea:focus{
        
        border: 2px solid lighten(map-get($colors-rule, first-color),50%);
    }

    .cont-valid-btn{
       animation: landing 250ms linear 0s 1 normal forwards;
    }


    .invalid-text{
        color:map-get($colors-rule, second-color);
    }

    .valid-text{
        color:map-get($colors-rule, third-color);
    }

    

    .valid-border{
        border-bottom:2px solid map-get($colors-rule, third-color);
        color: map-get($colors-rule, third-color);
       
    }
    
    .valid-border-textarea{
        border:2px solid map-get($colors-rule, third-color);
        color: map-get($colors-rule, third-color);
    }

   

    .comment-stored{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        
        
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 3em;
        background-color: map-get($colors-rule, third-color);
        width: fit-content;
        
        &__text{
            color: map-get($colors-rule, fifth-color );
            font-size: 1em;
        }
        
        &__cross{
            position:absolute;
            top: 0.5em;
            right: 0.5em;
            color: map-get($colors-rule, fifth-color );
            font-weight: 600;
            text-transform: uppercase;
            padding: 0.2em;
            box-shadow: 0px 0px 10px map-get($colors-rule, fourth-color);
            cursor: pointer;
        }

        

    }

    .unsaved{
           background-color: map-get($colors-rule, second-color); 
        }

    .hide{
        display: none;
    }

    
}