//Feuille de style du composant "Formulaire".

//Import des mixin qui gerent le responsive
@import "../../utils/mixins/responsive/responsive.scss";

//Import de la charte de couleur
@import "../../utils/colors-rule/colors-rule.scss";

//Animation
@keyframes landing {
  0% {
    transform: translateY(-5em);
    opacity: 0;
  }
  100% {
    transform: translateY(0em);
    opacity: 1;
  }
}
.form-contact {
    position: relative;
  .form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    //position: relative;
    width: 100%;
    max-width: 500px;
    margin: 2em auto;
    padding: 1em;
    box-shadow: 0px 0px 20px lighten(map-get($colors-rule, fourth-color), 0%);

    //overflow: hidden;

    /*background-color: darken(map-get($colors-rule, fifth-color), 80%);*/
    background:radial-gradient(
        at 0% 0%,
        map-get($colors-rule, second-color) ,
        lighten(map-get($colors-rule, second-color),30%) 30%,
        lighten(map-get($colors-rule, second-color),40%) 80%,
        map-get($colors-rule, second-color) 95%
        /*map-get($colors-rule, second-color),*/
    /*lighten(map-get($colors-rule, second-color),35%) 20%,*/
    );
    animation: landing 500ms linear 0s 1 normal forwards;

    @include upper-medium-screen {
      width: 80%;
      max-width: 800px;
    }

    /*.container-img-bg {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;

      .bg-form {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 110%;
        height: 100%;
       
       
        border: 2px solid red;
        z-index: -10;
      }
    }*/

    .container-title {
      display: flex;
      flex-flow: row-reverse;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .container-logo {
      width: 150px;
    }

    &__title {
      color: map-get($colors-rule, fifth-color);
      font-size: 1.1em;
      font-style: italic;
      font-weight: 600;
      text-transform: lowercase;

      &::first-letter {
        text-transform: uppercase;
      }

      @include upper-medium-screen {
        font-size: 2em;
      }
      @include upper-large-screen {
        font-size: 2.5em;
      }
    }

    &__text {
      font-size: 1em;
      text-align: left;
      margin: 1em 0em;
      color: map-get($colors-rule, fifth-color);
      word-spacing: 0.2em;
      line-height: 2em;

      @include upper-medium-screen {
        font-size: 1.1em;
      }
    }

    .cont-label-input {
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      align-items: center;
      margin: 2em 0em;
      width: 100%;
      animation: landing 500ms linear 0.1s 1 normal forwards;
    }

    .form-label {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      font-weight: 600;
      //text-transform: lowercase;
      //text-align: left;
      color: map-get($colors-rule, fourth-color);

      //border: 2px solid red;

      .requis {
        color: map-get($colors-rule, third-color);
      }

      @include upper-medium-screen {
        align-items: center;
      }
    }

    .text-label {
      //border: 2px solid green;
      align-self: flex-start;
      &::first-letter {
        text-transform: uppercase;
      }

      @include upper-medium-screen {
        align-self: center;
        width: 50%;
      }
    }

    .form-input {
      width: 80%;
      height: 2em;
      padding: 0.5em;
      border-bottom: 2px solid map-get($colors-rule, first-color);
      font-size: 1em;
      color: map-get($colors-rule, fourth-color);
      background: none;
      transition: border-bottom 250ms linear;

      @include upper-medium-screen {
        width: 50%;
      }
    }

    .form-input:focus {
      border-bottom: 2px solid lighten(map-get($colors-rule, first-color), 50%);
    }

    .textarea {
      resize: none;
      margin-top: 1em;
      width: 80%;
      height: 200px;
      border: 2px solid map-get($colors-rule, first-color);
      padding: 0.5em;
      align-self: center;
      transition: border 250ms linear;

      @include upper-medium-screen {
        width: 50%;
      }
    }

    .textarea:focus {
      border: 2px solid lighten(map-get($colors-rule, first-color), 50%);
    }

    .cont-valid-btn {
      animation: landing 250ms linear 0s 1 normal forwards;
    }

    .invalid-text {
      color: map-get($colors-rule, second-color);
    }

    .valid-text {
      color: map-get($colors-rule, third-color);
    }

    .valid-border {
      border-bottom: 2px solid map-get($colors-rule, third-color);
      color: map-get($colors-rule, third-color);
    }

    .valid-border-textarea {
      border: 2px solid map-get($colors-rule, third-color);
      color: map-get($colors-rule, third-color);
    }

    .hide {
      display: none;
    }
  }

  .form::after{
      content:"";
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      //width: 100%;
      //height: 100%;
     background-image: url("../../../public/Asset/background-image/bg-form-contact.svg");
      background-size: cover;
      background-repeat: no-repeat;
      //border: 2px solid red;
      
      z-index: -5;
  }

}
