//Feuille de style de la page "circuitspecialise"

//Import des mixins qui gerent le responsive
@import "../../utils/mixins/responsive/responsive.scss";

//Import de la charte de couleur
@import "../../utils/colors-rule/colors-rule.scss";

.compteur-energie {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  .container-title {
    width: 100%;
    margin: 1em 0em;

    @include medium-screen {
      width: 80%;
      margin: 2em 0em;
    }

    @include large-screen {
      width: 70%;
      margin: 3em 0em;
    }

    @include upper-large-screen {
      width: 60%;
      margin: 10em 0em 5em 0em;
    }
  }

  .section {
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    margin: 6em 0em 0em 0em;
    background-color: lighten(map-get($colors-rule, fourth-color),80%);
    

     //border-top: 1px solid map-get($colors-rule, second-color);
     //border-bottom: 2px solid lighten(map-get($colors-rule, fourth-color),20%);
   

    @include upper-medium-screen {
      width: 60%;
     
    }
  }
  

  .container-undertitle {
    width: fit-content;
    padding: 1em;
    
    margin: 3em 0em;
    //align-self: flex-start;
    text-align: center;
    /*border-left: 5px solid map-get($colors-rule, second-color);
    border-right: 5px solid map-get($colors-rule, second-color);*/
    border-radius: 1em;
    border-bottom: 2px solid map-get($colors-rule, second-color);
    border-top: 2px solid map-get($colors-rule, second-color);

  }

  .container-collapse {
    margin: 2em 0em;
    width: 100%;
    max-width: 500px;

    @include upper-medium-screen {
      width: 90%;
      max-width: 1000px;
    }
  }

  .container-image-header {
    width: 80%;
    max-width: 250px;
    max-height: 250px;
  }
  .container-image-schema {
    width: 100%;
    max-width: 500px;
    

    @include upper-medium-screen {
      max-width: 900px;
    }
  }
  .container-image-main {
    width: 100%;
    max-width: 500px;

    @include upper-medium-screen {
      max-width: 900px;
    }
  }

  .text-quiz {
    margin: 2em 0em;
  }

  .container-form{
        width:100%;
        max-width: 800px;
        //border:2px solid red;
    }

    .container-comment{
        width:100%;
        max-width: 800px;
        //border:2px solid red;

        .comment-li{
            margin: 8em 0em;
            box-shadow: 0px 0px 20px map-get($colors-rule, fourth-color );
           
        }
    }
}
