//Feuille de style "Page CGU"

//Import de la charte de couleur
@import "../../utils/colors-rule/colors-rule.scss";

.cgu{

    width: 70%;
    margin: 2em auto;
    padding: 2em;
    //background-color: lighten(map-get($colors-rule, second-color ),50%);
    

    &__title{
        width: 100%;
        text-align: center;
        color: map-get($colors-rule , fourth-color);
        font-family: 'Oswald', sans-serif;
        font-size: 3em;
        margin: 1em 0em 2em 0em;
        text-transform: uppercase;
       
    }

    &__list{

        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 80%;
        margin: 0px auto;

        &__li{

            width: 100%;
            padding: 2em 1em;
            //margin: 1em 0em 1em 0em;
            //border-top: 2px solid black;
           //border-bottom: 2px solid black;

        }

        .article-number{
            font-family: 'Oswald', sans-serif;
            font-size: 1.5em;
            margin: 1em 0em;
        }
        
        .article-title{
            font-family: 'Oswald', sans-serif;
            font-size: 1.2em;
            color: map-get($colors-rule , first-color);
        
        }

        .article-content{
            font-size: 1.2em;
            line-height: 2em;
            text-align: justify;
           
        }

        .article-split{
            height: 1px;
            color: map-get($colors-rule, second-color);
            background-color: map-get($colors-rule, second-color);
            margin: 4em auto;
            width: 30%;
        }
        
    }

    .bg-dark{
        background-color:lighten( map-get($colors-rule, fourth-color), 80%);
    }
}