//Feuille de style "Menu-Burger"

//Import des "mixins" qui gérent le responsive
@import "../../utils/mixins/responsive/responsive.scss";

//Importation de la charte de couleur
@import "../../utils/colors-rule/colors-rule.scss";


.menu-burger{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    transition: max-height 250ms linear;
    z-index: 10;
    overflow: hidden;
    position:relative;
    top: 0.9em;
    
    &__li{

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        width:100%;
        
        background-color: map-get($colors-rule, second-color);
        flex: 1 1 100%;
        border-bottom: 2px solid lighten(map-get($colors-rule, second-color),3%);
     
    }
    
    .schema{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
   
}

.display-menu-burger{
    
    max-height: 500px;
}


.hide-menu-burger{
    
    max-height: 0px;
}