//Feuille de style du composant "Footer"

//Import de la charte de couleur
@import "../../utils/colors-rule/colors-rule.scss";

//Import des mixins qui gerent le responsive
@import "../../utils/mixins/responsive/responsive.scss";

.footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: map-get($colors-rule , fourth-color );
    margin-top: 50px;

   

    &__menu{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        //Responsive pour ecran inferieur à medium
        @include under-medium-screen{
        flex-flow: column nowrap;
        }

        &__li{

            margin: 0px 20px;
            

            &__link {

                color: map-get($colors-rule , fifth-color );
                
                //Responsive pour ecran superieur à medium
                @include upper-medium-screen{
                    &:hover{
                        border-bottom: 2px solid map-get($colors-rule , fifth-color );
                    }
                }

                

            }
        }
    }
    
}