//Feuille de style du composant "Footer"

//Import de la charte de couleur
@import "../../utils/colors-rule/colors-rule.scss";

.footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: map-get($colors-rule , fourth-color );
    margin-top: 50px;

    &__menu{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        &__li{

            margin: 0px 20px;
            

            &__link {

                color: map-get($colors-rule , fifth-color );
                //border-bottom: 2px solid lighten(map-get($colors-rule , fifth-color ), 100%);

                &:hover{
                    border-bottom: 2px solid map-get($colors-rule , fifth-color );
                }
            }
        }
    }
    
}