//Feuille de style du composant "BannerSlider"

//Import des mixins qui gerent
@import "../../utils/mixins/responsive/responsive.scss";

//Import de la charte de couleur
@import "../../utils/colors-rule/colors-rule.scss";

//Animation du slider
@keyframes slide {

    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0%);
    }
    
};



.banner-slider{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items:center;

    position: relative;
    width:95%;
                
    animation: slide 1s linear 0ms 1 normal forwards;
    
    // reponsive pour ecran inferieur à "large"
    @include under-large-screen{
        flex-flow: row wrap;
    }

    //responsive pour ecran "small"
    @include small-screen{
        display:none;
    }    

    &__li{
        
        position: relative;
      
    }

    
    #link1, #link5{
       top: -70%;
       // reponsive pour ecran inferieur à "large"
        @include under-large-screen{
        top: 0%;
        }
               
    }
    #link3, #link7 {
       top:70%;
        // reponsive pour ecran inferieur à "large"
        @include under-large-screen{
        top: 0%;
    }
     
    }      
    
    
}