//Feuille de style du composant "BannerSlider"

//Animation du slider
@keyframes slide {

    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(100%);
    }
    
};



.banner-slider{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    position: relative;
    width: 150%;
    height: 100%;
    
    border: 2px solid red;
       
    animation: slide 25s linear 0ms infinite alternate both;
    
    &:hover{
        animation-play-state: paused;
    }

    &__li{
        width: 100%;
        position: relative;
        
    }

    #link0, #link5{
      top: -20px;
      left: 20px;
     
    }
    #link1, #link6{
       top: 20px; 
               
    }
    #link2, #link7{
       top: -30px;
       left: 30px 
        
    }      
    #link3, #link8{
       top: -20px; 
       
    }
    #link4, #link9{
       top: -50px;
       left: 50px; 
        
    }
    
}