//Feuille de style du composant "BannerSlider"

//Import de la charte de couleur
@import "../../utils/colors-rule/colors-rule.scss";

//Animation du slider
@keyframes slide {

    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0%);
    }
    
};



.banner-slider{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items:center;

    position: relative;
    width:100%;
    //min-height:400px;
    
    border: 2px solid red;
             
    animation: slide 1s linear 0ms 1 normal forwards;
    
    /*&:hover{
        animation-play-state: paused;
    }*/

    &__li{
        
        position: relative;
        border: 2px solid green;
        //height:150px;
       
        
    }

    
    #link1, #link5{
       top: -70%;
       
               
    }
    #link3, #link7 {
       top:70%;
      
     
    }      
    
    
}