//Feuille de style du composant "Collapse"


//Import de la charte de couleur
@import "../../utils/colors-rule/colors-rule.scss";




.collapse{

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    

    &__title{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        padding: 1em;
        border-radius: 2em;
        font-family: 'Oswald', sans-serif;
        font-size: 1.1em;
        text-transform: uppercase;
        color: map-get($colors-rule, fourth-color );
    }

    

    &__content{
        display:none;
        width: 100%;
        overflow: hidden;
        padding: 0em;
        border-radius: 2em;
        border: none;
        background-color:  map-get($colors-rule, fifth-color );
        color: map-get($colors-rule, fourth-color );
        transition: max-height 300ms linear, opacity 200ms linear;
        
    }

    .display{
        display: block;
        max-height: 300px;
        height: auto;
        padding: 1em;
        
    }

    .hide{
        display: block;
        max-height: 0px;
        height: auto;
        overflow: hidden;
        padding: 0em;
        opacity: 0;
        
    }

    .first-color-title{
        border: 2px solid map-get($colors-rule, first-color );

        &:hover{
            border-right: 6px solid map-get($colors-rule, first-color );
            border-left: 6px solid map-get($colors-rule, first-color );
        }
    }
    
    .first-color-content{
        border: 2px solid map-get($colors-rule, first-color );
    }

    .second-color-title{
        border: 2px solid map-get($colors-rule, second-color );
        &:hover{
            border-right: 6px solid map-get($colors-rule, second-color );
            border-left: 6px solid map-get($colors-rule, second-color );
        }
    }
    .second-color-content{
        border: 2px solid map-get($colors-rule, second-color );
    }

    .third-color-title{
        border: 2px solid map-get($colors-rule, third-color );
        &:hover{
            border-right: 6px solid map-get($colors-rule, third-color );
            border-left: 6px solid map-get($colors-rule, third-color );
        }

    }
    .third-color-content{
        border: 2px solid map-get($colors-rule, third-color );

    }
    .fourth-color-title{
        border: 2px solid map-get($colors-rule, fourth-color );
        &:hover{
            border-right: 6px solid map-get($colors-rule, fourth-color );
            border-left: 6px solid map-get($colors-rule, fourth-color );
        }

    }
    .fourth-color-content{
        border: 2px solid map-get($colors-rule, fourth-color );

    }
}