//Feuille de style du composant "Collapse"

//Import des mixins qui gerent le responsive
@import "../../utils/mixins/responsive/responsive.scss";


//Import de la charte de couleur
@import "../../utils/colors-rule/colors-rule.scss";




.collapse{

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    //border: 2px solid red;
    

    &__title{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        width:fit-content;
         
        padding: 1em;
        border-radius: 1.1em;
        font-family: 'Oswald', sans-serif;
        font-size: 1em;
        text-transform: uppercase;
        color: map-get($colors-rule, fifth-color);
        transition: background-color 250ms linear;

        @include upper-medium-screen{
            font-size: 1.1em;
        }

    }

    

    &__content{
        display:none;
        width: 100%;
        overflow: hidden;
        border-radius: 1em;
        border: none;
        background-color:  map-get($colors-rule, fifth-color );
        color: map-get($colors-rule, fourth-color );
        font-size: 1em;
        transition: max-height 300ms linear, opacity 200ms linear;

        @include upper-medium-screen{
            font-size: 1.1em;
        }
        
    }

    .display{
        display: block;
        max-height: 1500px;
        height: auto;
        padding: 1em;
        
    }

    .hide{
        display: block;
        max-height: 0px;
        height: auto;
        overflow: hidden;
        padding: 0em;
        opacity: 0;
        
    }

    .first-color-title{
        background-color: map-get($colors-rule, first-color );

        
        &:hover{
            
            background-color: lighten(map-get($colors-rule, first-color ),10%);
        }
    }
    
    .first-color-content{
        border: 2px solid map-get($colors-rule, first-color );
    }

    .second-color-title{
        background-color: map-get($colors-rule, second-color );
        &:hover{
            background-color: lighten(map-get($colors-rule, second-color ),10%);
        }
    }
    .second-color-content{
        border: 2px solid map-get($colors-rule, second-color );
    }

    .third-color-title{
        background-color: map-get($colors-rule, third-color );
        &:hover{
             background-color: lighten(map-get($colors-rule, third-color ),10%);
        }

    }
    .third-color-content{
        border: 2px solid map-get($colors-rule, third-color );

    }
    .fourth-color-title{
        background-color: map-get($colors-rule, fourth-color );
        &:hover{
             background-color: lighten(map-get($colors-rule, fourth-color ),10%);
        }

    }
    .fourth-color-content{
        border: 2px solid map-get($colors-rule, fourth-color);

    }

    .first{
        color:map-get($colors-rule, first-color);
    }
    .second{
        color:map-get($colors-rule, second-color);
    }
    .third{
        color:map-get($colors-rule, third-color);
    }
    .fourth{
        color:map-get($colors-rule, fourth-color);
    }
    .fifth{
        color:map-get($colors-rule, fifth-color);
    }
}