//Feuille de style du composant "NavLink"

.nav-link{
    display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;

        padding: 1em;

    .nav-link-img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
}