//Feuille de style pour la page "PriseDeCourant"

.prise-courant{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    .container-collapse{
        margin-top: 2em ;
    }
}