//Feuille de style pour la page "home"

//Import des mixins qui gerent le responsive
@import "../../../SASS/utils/mixins/responsive/responsive.scss";

//Import de la charte de couleur
@import "../../utils/colors-rule/colors-rule.scss";


.home{

    position:relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center; 
    
    //transform: translateY(150px);
    width:100%;
    height: 100px;
    max-height: 1000px;
    

    //responsive pour écran small
    @include upper-medium-screen{
        height: 600px;
    }


    &__banner, &__title{
        position: absolute;
        top:0%;
        left:0%;
        width: 100%;
        height: 100%;
        //z-index: 2;
    }

    &__title{
        top:3em
    }

    &__banner{
        
        overflow-x: clip;
                
    }

    
    &__window{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
               
        position: absolute;
        top:65%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        //padding: 1em;
        height: 0em;
        width: 100%;
        overflow-y: visible;       
        //overflow-x: clip; 
        background-color: lighten(map-get($colors-rule, fifth-color ),50%);
        //border: 2px solid green;
        
    }

    .home-hide{
        display: none;
    }

    .home-display{
        display: flex;
    }

       
}

