//Feuille de style pour la page "home"


.home{

    position:relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;  
    

    &__container{
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center; 
        width:100%; 
    }

    &__window{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center; 

        position: absolute;
        top:70%;
        left: 0%;
        transform: translateY(-50%);
        height: 250px;
        width: 100%;
        overflow: hidden;        
        background-color: transparent;
        box-shadow: 0px 0px 2em black;
        
        
    }

    &__banner{
        position: relative;
        width: 100%;
        height: fit-content;
        overflow: hidden;
       
    }

    &__title{
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);

    }

    
}