//Feuille de style pour la page "home"

//Import de la charte de couleur
@import "../../utils/colors-rule/colors-rule.scss";


.home{

    position:relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;  
    

    &__container{
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center; 
        width:100%; 
        height: 800px;


        .home-window{
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center; 

            //border: 2px solid darkmagenta;
            position: absolute;
            top:65%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            //padding: 1em;
            height: 0em;
            width: 100%;
            overflow-y: visible;       
            //overflow-x: clip; 
            background-color: lighten(map-get($colors-rule, fifth-color ),50%);
         
            
        }

        .home-banner{
            position: relative;
            width: 100%;
            height: 100%;
            overflow-x: clip;
            
        
        }

        .home-title{
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;

            position: absolute;
            top: 10%;
            left: 50%;
            width: 100%;
            transform: translateX(-50%);
            
            &__h1{
            font-family: 'Oswald', sans-serif;
            font-size: 3em;
            color: map-get($colors-rule, fifth-color );
            }

            &__text{
                //line-height: 1.5em;
                margin-top: 2em;
                font-size: 2em;
                color: map-get($colors-rule, fifth-color );
            }

        
        }

    }

       
}