//Feuille de style du composant "IntroText"


//Import de la charte de couleur
@import "../../utils/colors-rule/colors-rule.scss";


.container-intro{
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.text-intro-securite{
    font-size: 1.3em;
    line-height: 1.3em;
    font-style: italic;
    width: 50%;
    color: map-get($colors-rule, second-color);
    text-align: center;
}

.text-intro-pc{
   font-size: 1.2em;
   line-height: 1.2em;
   width: 100%;
   color: map-get($colors-rule, fourth-color);
   text-align: center;
   margin-top: 2em;
}