//Feuille de style composant "SousMenu"

//Import des "mixins" qui gérent le responsive
@import "../../utils/mixins/responsive/responsive.scss";

//Importation de la charte de couleur
@import "../../utils/colors-rule/colors-rule.scss";



.sous-menu{
    
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    position: absolute;
    top: 100%;
    left : 0px;
    z-index: 10;
    
    width: 300%;
    //border-radius: 10px;
    overflow: hidden;
    height: 0px;
    transition: height 250ms linear;
    background-color: white;

    

    
    
    
    &__li{
    
        width: 100%;

             
    }

    
}

.display-sous-menu{
    display: flex;
    border-top: 4px solid map-get($colors-rule, second-color);
    box-shadow: 5px 5px 20px 0px grey;
    height:400px;
   
}

.hide-sous-menu{
    display: flex;
    height: 0px;
}



