//Feuille de style composant "SousMenu"

//Import des "mixins" qui gerent le responsive
@import "../../utils/mixins/responsive/responsive.scss";

//Importation de la charte de couleur
@import "../../utils/colors-rule/colors-rule.scss";





.header-sous-menu{
    display: none;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;

    position: absolute;
    top: 100%;
    left : 0px;
    z-index: 10;
    
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    height: 0px;
    transition: height 250ms linear;
    background-color: white;
    //margin-top: 1em;
    
    
    .sous-menu-li{
    
        width: 100%;

        //responsive pour ecran inferieur à "large"
        @include upper-large-screen{
            
            &:hover .sous-menu-link{
        
               transform: translateX(5%);
               border-left: 2px solid map-get($colors-rule, second-color);
                
                
            }
        }
        
        .sous-menu-link{
            display:block;
            margin-top: 0.5em;
            width: 100%;
            font-family: 'Oswald', sans-serif;
            font-size: 1.3em;
            color: map-get($colors-rule, first-color);
            text-align: left;
            padding-left: 0.5em;
            transition: transform 250ms linear, border-left 300ms linear, font-size 250ms linear;

            //responsive pour ecran inferieur à "large"
            @include under-large-screen{
                font-size: 1em;
            }
        }

        

    }

    
}

.display{
    display: flex;
    
    height:400px;
    box-shadow: 0px 0px 10px 1px lighten(map-get($colors-rule, first-color),40%);
   
}

.hide{
    display: flex;
    height: 0px;
}



