@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes slide {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
.banner-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  border: 2px solid red;
  -webkit-animation: slide 1s linear 0ms 1 normal forwards;
          animation: slide 1s linear 0ms 1 normal forwards;
  /*&:hover{
      animation-play-state: paused;
  }*/
}
.banner-slider__li {
  position: relative;
  border: 2px solid green;
}
.banner-slider #link1, .banner-slider #link5 {
  top: -70%;
}
.banner-slider #link3, .banner-slider #link7 {
  top: 70%;
}