.banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
  margin: 20px 0px;
  border-radius: 25px;
  /*//responsive large-screen
  @include large-screen {
    height: 223px;
  }

  //responsive x-large-screen
  @include x-large-screen {
    height: 600px;
  }

  //responsive xx-large-screen
  @include xx-large-screen {
    height: 100%;
  }*/
}
.banner__backgroundcolor, .banner__img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.banner__backgroundcolor {
  background-color: #FDFAED;
}
.banner__img {
  opacity: 0.4;
}
.banner__text {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 24px;
  border: 2px solid red;
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .banner__text {
    font-size: 28px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .banner__text {
    font-size: 36px;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}
@media screen and (min-width: 993px) and (max-width: 1500px) {
  .banner__text {
    font-size: 48px;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}
@media screen and (min-width: 1501px) {
  .banner__text {
    font-size: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}