@-webkit-keyframes hover {
  0% {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }
  50% {
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes hover {
  0% {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }
  50% {
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
.button-link-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}
.button-link-banner:hover > .button-link-banner__text {
  border: 2px solid #3A7D44;
  color: #3A7D44;
}
.button-link-banner:hover > .button-link-banner__img {
  border: 2px solid #3A7D44;
}
.button-link-banner:hover {
  -webkit-animation: hover 100ms linear 0s 2 normal forwards;
          animation: hover 100ms linear 0s 2 normal forwards;
}
.button-link-banner__text {
  background-color: #FBFFFE;
  color: #0267C1;
  border: 2px solid #0267C1;
  border-radius: 1em;
  padding: 0.5em;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  font-size: 1.2em;
}
@media screen and (max-width: 992px) {
  .button-link-banner__text {
    font-size: 1em;
    text-transform: capitalize;
  }
}
.button-link-banner__img {
  border: 2px solid #0267C1;
  border-radius: 50%;
  padding: 0.2em;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.button-link-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.button-link-menu__text {
  text-transform: capitalize;
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  font-size: 1.4em;
  color: #EFA00B;
  -webkit-transition: font-size 250ms linear;
  -o-transition: font-size 250ms linear;
  transition: font-size 250ms linear;
}
@media screen and (max-width: 992px) {
  .button-link-menu__text {
    font-size: 1em;
  }
}

.button-link-sous-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.button-link-sous-menu__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding-left: 0.5em;
  color: #0267C1;
  text-transform: capitalize;
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  -webkit-transition: padding-left 250ms linear, border-left 250ms linear, border-right 250ms linear, font-size 250ms linear;
  -o-transition: padding-left 250ms linear, border-left 250ms linear, border-right 250ms linear, font-size 250ms linear;
  transition: padding-left 250ms linear, border-left 250ms linear, border-right 250ms linear, font-size 250ms linear;
}
@media screen and (max-width: 992px) {
  .button-link-sous-menu__text {
    font-size: 1em;
  }
}
@media screen and (min-width: 993px) {
  .button-link-sous-menu__text {
    font-size: 1.2em;
  }
  .button-link-sous-menu__text:hover {
    padding-left: 1em;
    border-left: 10px solid #EFA00B;
    border-right: 10px solid #EFA00B;
  }
}

.button-link-menu-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}
.button-link-menu-burger__text {
  color: #FBFFFE;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  padding: 0.5em;
}

.button-link-sous-menu-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}
.button-link-sous-menu-burger__text {
  color: #FBFFFE;
  text-transform: capitalize;
  font-family: "Oswald", sans-serif;
}