.button__std {
  padding: 1em;
  font-size: 1.2em;
  border: none;
}
.button .first-bg {
  background-color: #0267C1;
}
.button .first-bg:hover {
  background-color: #014c8f;
}
.button .second-bg {
  background-color: #B74701;
}
.button .second-bg:hover {
  background-color: #843301;
}
.button .third-bg {
  background-color: #0F8064;
}
.button .third-bg:hover {
  background-color: #0a5240;
}
.button .fourth-bg {
  background-color: #302B27;
}
.button .fourth-bg:hover {
  background-color: #141210;
}
.button .fifth-bg {
  background-color: #FDFAED;
}
.button .fifth-bg:hover {
  background-color: #f8edbf;
}
.button .first-text {
  color: #0267C1;
}
.button .second-text {
  color: #B74701;
}
.button .third-text {
  color: #0F8064;
}
.button .fourth-text {
  color: #302B27;
}
.button .fifth-text {
  color: #FDFAED;
}