.button__std {
  padding: 1em;
  font-size: 1.2em;
  border: none;
}
.button .first-bg {
  background-color: #0267C1;
}
.button .first-bg:hover {
  background-color: #014c8f;
}
.button .second-bg {
  background-color: #EFA00B;
}
.button .second-bg:hover {
  background-color: #be7f09;
}
.button .third-bg {
  background-color: #3A7D44;
}
.button .third-bg:hover {
  background-color: #2a5a31;
}
.button .fourth-bg {
  background-color: #272727;
}
.button .fourth-bg:hover {
  background-color: #0e0e0e;
}
.button .fifth-bg {
  background-color: #FBFFFE;
}
.button .fifth-bg:hover {
  background-color: #c8fff1;
}
.button .first-text {
  color: #0267C1;
}
.button .second-text {
  color: #EFA00B;
}
.button .third-text {
  color: #3A7D44;
}
.button .fourth-text {
  color: #272727;
}
.button .fifth-text {
  color: #FBFFFE;
}