.collapse-session {
  margin-right: 10px;
  max-height: 100%;
}

.collapse-session:hover .list {
  max-height: 100px;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
  -webkit-transition: opacity 500ms, max-height 500ms, -webkit-transform 500ms;
  transition: opacity 500ms, max-height 500ms, -webkit-transform 500ms;
  -o-transition: opacity 500ms, transform 500ms, max-height 500ms;
  transition: opacity 500ms, transform 500ms, max-height 500ms;
  transition: opacity 500ms, transform 500ms, max-height 500ms, -webkit-transform 500ms;
}

.collapse-session .container-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.collapse-session .text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 1em;
  color: #FBFFFE;
  padding: 0.5em;
  text-transform: capitalize;
}

.collapse-session .text .color-name {
  color: #EFA00B;
}

.icon > path {
  fill: #FBFFFE;
}

.collapse-session .list {
  opacity: 0;
  max-height: 0px;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #3A7D44;
  -webkit-transition: opacity 300ms, max-height 300ms, -webkit-transform 50ms linear 250ms;
  transition: opacity 300ms, max-height 300ms, -webkit-transform 50ms linear 250ms;
  -o-transition: opacity 300ms, transform 50ms linear 250ms, max-height 300ms;
  transition: opacity 300ms, transform 50ms linear 250ms, max-height 300ms;
  transition: opacity 300ms, transform 50ms linear 250ms, max-height 300ms, -webkit-transform 50ms linear 250ms;
}

.list-li {
  background-color: #428e4d;
  text-align: center;
  width: 100%;
}

.list-li:hover {
  cursor: pointer;
  background-color: #88c892;
}
