.collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.collapse__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  border-radius: 2em;
  font-family: "Oswald", sans-serif;
  font-size: 1.1em;
  text-transform: uppercase;
  color: #302B27;
}
.collapse__content {
  display: none;
  width: 100%;
  overflow: hidden;
  padding: 0em;
  border-radius: 2em;
  border: none;
  background-color: #FDFAED;
  color: #302B27;
  -webkit-transition: max-height 300ms linear, opacity 200ms linear;
  -o-transition: max-height 300ms linear, opacity 200ms linear;
  transition: max-height 300ms linear, opacity 200ms linear;
}
.collapse .display {
  display: block;
  max-height: 300px;
  height: auto;
  padding: 1em;
}
.collapse .hide {
  display: block;
  max-height: 0px;
  height: auto;
  overflow: hidden;
  padding: 0em;
  opacity: 0;
}
.collapse .first-color-title {
  border: 2px solid #0267C1;
}
.collapse .first-color-title:hover {
  border-right: 6px solid #0267C1;
  border-left: 6px solid #0267C1;
}
.collapse .first-color-content {
  border: 2px solid #0267C1;
}
.collapse .second-color-title {
  border: 2px solid #B74701;
}
.collapse .second-color-title:hover {
  border-right: 6px solid #B74701;
  border-left: 6px solid #B74701;
}
.collapse .second-color-content {
  border: 2px solid #B74701;
}
.collapse .third-color-title {
  border: 2px solid #0F8064;
}
.collapse .third-color-title:hover {
  border-right: 6px solid #0F8064;
  border-left: 6px solid #0F8064;
}
.collapse .third-color-content {
  border: 2px solid #0F8064;
}
.collapse .fourth-color-title {
  border: 2px solid #302B27;
}
.collapse .fourth-color-title:hover {
  border-right: 6px solid #302B27;
  border-left: 6px solid #302B27;
}
.collapse .fourth-color-content {
  border: 2px solid #302B27;
}