.description, .precaution {
  counter-set: compteur;
}
.description__text, .precaution__text {
  margin-top: 0.5em;
  font-size: 1.2em;
  font-weight: 600;
  font-style: italic;
  color: #EFA00B;
}
.description__li::before, .precaution__li::before {
  content: counter(compteur);
  display: inline-block;
  color: #0267C1;
  font-weight: 600;
  font-size: 1.1em;
  width: 2em;
  text-align: right;
  margin-right: 1em;
}
.description__li, .precaution__li {
  counter-increment: compteur;
  margin-top: 0.5em;
  font-size: 1.2em;
}
.description .important, .precaution .important {
  color: #efa00b;
}

.principe, .astuce, .savoir {
  font-size: 1.2em;
}
.principe__text, .astuce__text, .savoir__text {
  line-height: 1.5em;
  margin: 0.5em 0em;
}