.description, .precaution {
  counter-set: compteur;
}
.description__li::before, .precaution__li::before {
  content: counter(compteur);
  display: inline-block;
  color: #0267C1;
  font-weight: 600;
  font-size: 1.1em;
  width: 2em;
  text-align: right;
  margin-right: 1em;
}
.description__li, .precaution__li {
  counter-increment: compteur;
  margin-top: 0.5em;
  font-size: 1.1em;
}
.description .important, .precaution .important {
  color: #EFA00B;
}

.principe, .astuce, .savoir, .description, .precaution {
  font-size: 1em;
}
@media screen and (min-width: 769px) {
  .principe, .astuce, .savoir, .description, .precaution {
    font-size: 1.1em;
  }
}
.principe__text, .astuce__text, .savoir__text, .description__text, .precaution__text {
  line-height: 1.5em;
  margin: 0.5em 0em;
}
.principe .important, .astuce .important, .savoir .important, .description .important, .precaution .important {
  color: #EFA00B;
}