.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  height: 100%;
}
.menu__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 5em;
  height: 100%;
  border-top: 6px solid #414141;
  border-bottom: 6px solid #414141;
  -webkit-transition: border-top 250ms linear, border-bottom 250ms linear;
  -o-transition: border-top 250ms linear, border-bottom 250ms linear;
  transition: border-top 250ms linear, border-bottom 250ms linear;
}
@media screen and (max-width: 992px) {
  .menu__li {
    margin-right: 2em;
  }
}
.menu__li:hover {
  border-top: 6px solid #EFA00B;
  border-bottom: 6px solid #EFA00B;
}