.quiz-pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.quiz-pc__title {
  width: 100%;
  margin: 1em 0em;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .quiz-pc__title {
    width: 80%;
    margin: 2em 0em;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .quiz-pc__title {
    width: 70%;
    margin: 3em 0em;
  }
}

@media screen and (min-width: 993px) {
  .quiz-pc__title {
    width: 60%;
    margin: 10em 0em 5em 0em;
  }
}

.quiz-pc__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 500px;
  background-color: #FBFFFE;
  padding: 1em;
}

@media screen and (min-width: 769px) {
  .quiz-pc__form {
    width: 80%;
    max-width: 800px;
  }
}

.quiz-pc__form__question {
  margin: 2em 0em;
  width: 100%;
}

.quiz-pc__resultat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.quiz-pc__resultat__text {
  font-size: 1.1em;
  padding: 1em;
  color: #272727;
}

.quiz-pc__resultat__rate {
  margin: 1em 0em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.5em;
  text-align: center;
  padding: 1em;
  border-radius: 0.3em;
  font-weight: 600;
}

.quiz-pc__resultat__btn-reset {
  margin-top: 2em;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.quiz-pc__error {
  padding: 1em;
  font-size: 1.2em;
  color: #EFA00B;
}

.quiz-pc .color-error {
  color: #EFA00B;
}

.quiz-pc .bad-result {
  background-color: #EFA00B;
}

.quiz-pc .medium-result {
  background-color: #0267C1;
}

.quiz-pc .good-result {
  background-color: #3A7D44;
}
