@-webkit-keyframes animBackGround {
  0% {
    border: 4px solid #0267C1;
  }
  50% {
    border: 4px solid #EFA00B;
  }
  100% {
    border: 4px solid #3A7D44;
  }
}

@keyframes animBackGround {
  0% {
    border: 4px solid #0267C1;
  }
  50% {
    border: 4px solid #EFA00B;
  }
  100% {
    border: 4px solid #3A7D44;
  }
}

.site-building {
  width: 300px;
  height: 100%;
  -webkit-animation: animBackGround 15s ease-in-out infinite alternate forwards;
          animation: animBackGround 15s ease-in-out infinite alternate forwards;
}

.site-building .title {
  padding: 5px;
  font-size: 1em;
  color: #EFA00B;
}

.site-building .text {
  text-transform: lowercase;
  padding: 0.2em;
  color: #FBFFFE;
}

.site-building .text-end {
  padding: 0.2em;
  color: #EFA00B;
}
