.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.title .title-home, .title .title-page {
  width: 100%;
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #272727;
  font-size: 3em;
  margin: 0em 0em 2em 0em;
}
@media screen and (max-width: 992px) {
  .title .title-home, .title .title-page {
    font-size: 2em;
    margin: 0.8em 0em;
  }
}
@media screen and (max-width: 575px) {
  .title .title-home, .title .title-page {
    font-size: 1.2em;
    margin: 0.5em 0em;
  }
}
.title .title-home {
  font-size: 3.5em;
  color: #FBFFFE;
}
@media screen and (max-width: 992px) {
  .title .title-home {
    font-size: 2em;
    margin: 0.8em 0em;
  }
}
@media screen and (max-width: 575px) {
  .title .title-home {
    font-size: 1.2em;
    margin: 0.5em 0em;
  }
}
.title .text-home, .title .text-page {
  width: 100%;
  font-size: 1.5em;
  font-style: italic;
  color: #272727;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .title .text-home, .title .text-page {
    font-size: 1.5em;
    margin: 0.8em 0em;
  }
}
@media screen and (max-width: 575px) {
  .title .text-home, .title .text-page {
    font-size: 1em;
    margin: 0.5em 0em;
  }
}
.title .text-home {
  color: #FBFFFE;
}