.title-home, .title-page {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 3em;
}

.title-page {
  color: #302B27;
  margin: 1em 0em;
}

.title-home {
  color: #FDFAED;
}

.text {
  display: block;
}