//Feuille de style du composant "DoubleChevronMenu"

//Import des mixins qui gerent le responsive
@import "../../utils/mixins/responsive/responsive.scss";

//Import de la charte decouleur
@import "../../utils/colors-rule/colors-rule.scss";

.container-chevron{

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    margin-left: 1.5em;
    transition: transform 250ms linear;
    
    

}

.rotate{
    transform: rotateZ(180deg);
}

.arrow-size{
    font-size: 1em;

    //responsive pour ecran superieur à "medium"
    @include under-large-screen{
        font-size: 1.2em;
    }
}

.first-color{
    color: map-get($colors-rule, first-color );
}
.second-color{
    color: map-get($colors-rule, second-color );
}
.third-color{
    color: map-get($colors-rule, third-color );
}
.fourth-color{
    color: map-get($colors-rule, fourth-color );
}
.fifth-color{
    color: map-get($colors-rule, fifth-color );
}
