//Feuille de style du composant "ButtonLink"

//Import de la charte de couleur
@import "../../utils/colors-rule/colors-rule.scss";

.button-link{

    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 2px solid map-get($colors-rule, first-color);
        border-radius: 1em;

    &__text{
        color: map-get($colors-rule, first-color);
        
        padding: 1em;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-weight: 100;
    }

    &__img{
        width:150px;
        height:200px;
        object-fit: cover;

    }

};