// Feuille de style du composant "Banner"

//Import de la charte de couleur
@import "../../utils/colors-rule/colors-rule.scss";

//Import des "mixins" qui gerent le responsive design
@import "../../utils/mixins/responsive/_responsive.scss";


.banner{

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    position: relative;
    width: 100%;
    height:100%;
    border-radius: 1.5em;
    transition: border-radius 250ms linear;

    //resposive pour ecran small
    @include small-min{
      border-radius: none;
    }
    
    &__backgroundcolor, &__img{

      position:absolute;
      top:0px;
      left:0px;
      width: 100%;
      height: 100%;
      border-radius: 1.5em;

      //resposive pour ecran small
      @include small-min{
      border-radius: none;
    }
      
    }

    &__backgroundcolor{
      
      background-color: black;
    }

    &__img{
      
      opacity: 0.5;
    }


    &__title{

            
      font-size: 24px;
      border: 2px solid red;

      //responsive large-screen
      @include medium-screen {
        font-size: 28px;
      }

      //responsive large-screen
      @include large-screen {
        font-size: 36px;
        
      }

      //responsive x-large-screen
      @include x-large-screen {
        font-size: 48px;
        
      }

      //responsive xx-large-screen
      @include xx-large-screen {
        font-size: 50px;
        
      }
  }



  &__text{
   
    
    font-size: 24px;
    border: 2px solid red;

    //responsive large-screen
    @include medium-screen {
      font-size: 28px;
    }

    //responsive large-screen
    @include large-screen {
      font-size: 36px;
     
    }

    //responsive x-large-screen
    @include x-large-screen {
      font-size: 48px;
     
    }

    //responsive xx-large-screen
    @include xx-large-screen {
      font-size: 50px;
      
    }
  }

  .color-first{
    color: map-get($colors-rule, first-color )
  }
  .color-second{
    color: map-get($colors-rule, second-color )
  }
  .color-third{
    color: map-get($colors-rule, third-color )
  }
  .color-fourth{
    color: map-get($colors-rule, fourth-color )
  }
  .color-fifth{
    color: map-get($colors-rule, fifth-color )
  }

}