// Feuille de style du composant "Banner"

//Import de la charte de couleur
@import "../../utils/colors-rule/colors-rule.scss";

//Import des "mixins" qui gerent le responsive design
@import "../../utils/mixins/responsive/_responsive.scss";


.banner{

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    position: relative;
    width: 100%;
    height:100%;
    border-radius: 1.5em;
    transition: border-radius 250ms linear;

    //@at-root pour ecran small
    @include small-screen{
      border-radius: 0em;
    }
    
    &__backgroundcolor, &__img{

      position:absolute;
      top:0px;
      left:0px;
      width: 100%;
      height: 100%;
      border-radius: 1.5em;

      //responsive pour ecran small
      @include small-screen{
      border-radius:0em;
    }
      
    }

    &__backgroundcolor{
      
      background-color: map-get($colors-rule, second-color );
    }

    &__img{
      
      opacity: 0.9;
    }


    &__title{


      z-index: 10;      
      
      

      //responsive small-screen
      @include small-screen {
        font-size: 1.5em;
        margin-left: 4em;
        margin-bottom: 0.5em;
      }

      //responsive medium-screen
      @include medium-screen {
        font-size:1.5em;
      }

      //responsive large-screen
      @include large-screen {
        font-size: 2em;
        
      }

      //responsive x-large-screen
      @include x-large-screen {
        font-size: 2.2em;
        
      }

      //responsive xx-large-screen
      @include xx-large-screen {
        font-size: 3em;
        
      }
  }



  &__text{
   
    z-index: 10;
     //responsive small-screen
      @include small-screen {
        font-size: 1em;
        margin-left: 4em;
      }  

    //responsive large-screen
    @include medium-screen {
      font-size: 1.5em;
      
    }

    //responsive large-screen
    @include large-screen {
      font-size: 1em;
     
    }

    //responsive x-large-screen
    @include x-large-screen {
      font-size: 2em;
     
    }

    //responsive xx-large-screen
    @include xx-large-screen {
      font-size: 2em;
      
    }
  }

  .color-first{
    color: map-get($colors-rule, first-color )
  }
  .color-second{
    color: map-get($colors-rule, second-color )
  }
  .color-third{
    color: map-get($colors-rule, third-color )
  }
  .color-fourth{
    color: map-get($colors-rule, fourth-color )
  }
  .color-fifth{
    color: map-get($colors-rule, fifth-color )
  }

}