//Composant "header"

//Import des mixins qui gerent le responsive
@import "../../utils/mixins/responsive/responsive.scss";

//Import de la charte de couleur
@import "../../utils/colors-rule/colors-rule.scss";

.main-header {
  @include upper-medium-screen {
    position: sticky;
    top: 0px;
    z-index: 10;
    margin-bottom: 2em;
  }
}
.container-banner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 80px;
  

  .banner {
    
    background-color: map-get($colors-rule, second-color );
    
  }
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  position: relative;
  
  width: 100%;

  background-color: map-get($colors-rule, fourth-color);

  &__container-logo {
    flex: 1 1 20%;
    max-width: 200px;
    height: 100%;

    
    & > a {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      height: 100%;
      
    }

    .header-logo {
      height: 90%;
      width: auto;
      
    }

    //reponsive pour ecran small
    @include small-screen {
      flex: 0 0 0%;
    }
  }

  &__container-menu {
    flex: 1 1 75%;
    height: 100%;
    
  }

  &__container-collapse-session {
    height: 100%;
    margin: 0em 1em;
    
  }

  &__container-div-sitebuilding {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.schrink {
  //responsive pour écran superieur à small
  @include upper-medium-screen {
    transition: height 100ms ease-in;
    height: 70px;
  }
}

.grow {
  //responsive pour écran supérieur à small
  @include upper-medium-screen {
    transition: height 250ms linear;
    height: 90px;
  }
}
