//Composant "header"

//Import de la charte de couleur
@import "../../utils/colors-rule/colors-rule.scss";

.header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;

    &__menu{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        flex: 1 0 50%;
        
        & > li{
            flex: 1 0 25%;
            
            text-align: center;
        }

        

    }

    &__menu-link{
        font-family: 'Oswald', sans-serif;
        font-size: 1.6em;
        color: map-get($colors-rule, first-color );
    }

    .schema-elec{
        position: relative;
        //border: 2px solid red;
    }

    
}