//Composant "header"

//Import des mixins qui gerent le responsive
@import "../../utils/mixins/responsive/responsive.scss";

//Import de la charte de couleur
@import "../../utils/colors-rule/colors-rule.scss";

.header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    margin-bottom: 2em;
    background-color: lighten(map-get($colors-rule, fourth-color ),10%);
   

    &__logo{
        flex: 0 1 15%;
        width:100px;
        height: 100px;

        //reponsive pour ecran small
        @include small-screen{
            flex: 0 0 0%;
        }
        
    }
    
    &__container-menu{
        flex: 1 1 85%;
        height: 100%;
    }

    
    
    

    

    
}