//Feuille de style du composant "NavCollaspe"

.nav-collapse{

    .collapse-list{
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;

        display: absolute;
        top: 100%;

        &__li{
            width: 150%;
        }
    }
}