//Feuille de style du composant "NavCollaspe"

//Import des "mixins" qui gérent le responsive
@import "../../utils/mixins/responsive/responsive.scss";

//Import de la charte de couleur
@import "../../utils/colors-rule/colors-rule.scss";

.nav-collapse {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  

  width: 100%;
  height: 100%;
  //border: 2px solid pink;

  .nav-collapse-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    //border: 2px solid green;
    //width: 30%;

    //responsive pour ecran supérieur à large
    @include upper-large-screen {
      width: auto;
    }

    .container-navlink {
      flex: 1 1 30%;
      // border: 2px solid yellow;
      text-align: left;
      
    }

    .container-chevron {
      flex: 0 1 auto;
      // border: 2px solid yellow;
      text-align: left;
    }
  }

  .nav-collapse-chevron {
    font-size: 1em;
    transition: transform 250ms linear, font-size 250ms linear;
    //border: 2px solid blue;

    //responsive pour ecran superieur à large
    @include upper-large-screen {
      font-size: 1.1em;
    }
  }

  .chevron-animation {
    transform: rotateZ(180deg);
  }

  .collapse-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    max-height: 0px;
    opacity: 0;
    overflow: hidden;

    transition: max-height 300ms linear, opacity 350ms linear,
    border-top 300ms linear;

    //responsive pour ecran superieur à medium
    @include upper-medium-screen {
      position: absolute;
      top: 100%;
      width: 200%;
      z-index: 10;
    }

    //responsive pour ecran superieur à large
    @include upper-large-screen {
      position: absolute;
      top: 100%;
      width: 120%;
      z-index: 10;
    }



    &__li {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      //height: 100%;
      width: 100%;
      padding: 1em 0em 1em 1em;
      background-color: lighten(map-get($colors-rule, fourth-color), 80%);
      transition: background-color 300ms linear, padding-left 300ms linear;

      &:hover {
        //responsive pour écran small
        @include upper-medium-screen {
          padding-left: 2em;
          background-color: lighten(map-get($colors-rule, second-color), 15%);
        }
      }
    }
  }

  .display {
    max-height: 500px;
    opacity: 1;
    border-top: 4px solid map-get($colors-rule, second-color);
    border-bottom: 4px solid map-get($colors-rule, second-color);

    //responsive pour ecran supérieur à small
    @include upper-small-screen {
      border-top: 6px solid map-get($colors-rule, second-color);
      border-bottom: 6px solid map-get($colors-rule, second-color);
    }
  }

  .first-text {
    color: map-get($colors-rule, first-color);
  }

  .second-text {
    color: map-get($colors-rule, second-color);
  }

  .third-text {
    color: map-get($colors-rule, third-color);
  }

  .fourth-text {
    color: map-get($colors-rule, fourth-color);
  }

  .fifth-text {
    color: map-get($colors-rule, fifth-color);
  }
}
