//Feuille de style du composant "SiteIsBuilding"

//Import des "mixins" qui gérent le responsive
@import "../../utils/mixins/responsive/responsive.scss";

//Import de la charte de couleur
@import "../../utils/colors-rule/colors-rule.scss";

.site-building {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 400px;
  width: 90vw;
  max-width: 400px;
 
  padding: 1em;
  border: 4px solid map-get($colors-rule, second-color);
  border-radius: 10px;
  background-color: lighten(map-get($colors-rule, fourth-color), 15%);

  &__title {
    flex: 0 0 auto;
    font-size: 1.1em;
    color: map-get($colors-rule, second-color);
    margin-bottom: 0.8em;

    @include upper-medium-screen{
      font-size: 1.5em;
    }
  }

  &__text {
    margin-top: 1em;
    align-self: flex-start;
    flex: 0 0 auto;
    font-size: 1em;
    color: map-get($colors-rule, fifth-color);

    @include upper-medium-screen{
      font-size: 1.2em;
    }
  }

  &__text-end {
    margin-top: 1em;
    align-self: flex-start;
    color: map-get($colors-rule, fifth-color);
    font-size: 1.1em;

    @include upper-medium-screen{
      font-size:1.2em;
    }
  }

  &__closure {
    flex: 0 0 auto;
    align-self: flex-end;
    font-size: 1em;
    padding: 5px;
    color: map-get($colors-rule, fifth-color);
    border: 2px solid map-get($colors-rule, fifth-color);
    border-radius: 10px;
    background-color: lighten (map-get($colors-rule, fourth-color), 100%);

    &:hover {
      cursor: pointer;
      background-color: map-get($colors-rule, fourth-color);
    }
  }

  &__icon {
    position: absolute;
    top: 1em;
    left: 2em;

    width: 2em;
    flex: 0 0 auto;
    align-self: flex-start;

    & > img {
      width: 100%;
    }
  }

  div[name="2"] {
  position: absolute;
  top: 1em;
  left: 100%;
  transform: translateX(-4em);
  }
}


.site-building-hide {
  display: none;
}
