//Feuille de style du composant "Title"

//Import de la charte de couleur
@import "../../utils/colors-rule/colors-rule.scss";

.title-home .title-page{

    font-family: 'Oswald', sans-serif;
    text-transform:uppercase;
    font-size: 3em;
}

.title-page{
    color: map-get($colors-rule, fourth-color );

}

.title-home{
    
    color: map-get($colors-rule, fifth-color );
   
}

.text{
    display:block;
    //background-color: red;
    
}